@use "sass:math";
@import "_null.scss";

//....................при подключении шрифтов добавляем &display=swap............................
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,italic&display=swap);

@font-face {
   font-family: "Cormorant Upright";
   src: url("../fonts/CormorantUpright-Regular.eot");
   src: local("☺"), url("../fonts/CormorantUpright-Regular.woff") format("woff"),
      url("../fonts/CormorantUpright-Regular.ttf") format("truetype"),
      url("../fonts/CormorantUpright-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Cormorant Upright";
   src: url("../fonts/CormorantUpright-Semibold.eot");
   src: local("☺"), url("../fonts/CormorantUpright-Semibold.woff") format("woff"),
      url("../fonts/CormorantUpright-Semibold.ttf") format("truetype"),
      url("../fonts/CormorantUpright-Semibold.svg") format("svg");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Cormorant Upright";
   src: url("../fonts/CormorantUpright-Bold.eot");
   src: local("☺"), url("../fonts/CormorantUpright-Bold.woff") format("woff"),
      url("../fonts/CormorantUpright-Bold.ttf") format("truetype"),
      url("../fonts/CormorantUpright-Bold.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Conv_BestermindRegular";
   src: url("../fonts/BestermindRegular.eot");
   src: local("☺"), url("../fonts/BestermindRegular.woff") format("woff"),
      url("../fonts/BestermindRegular.ttf") format("truetype"), url("../fonts/BestermindRegular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

// ............................КОНТЕЙНЕР.................................................

[class*="__container"] {
   max-width: 1710px;
   margin: 0 auto;
   padding: 0 15px;
}

// ..................... ПЕРЕМЕННЫЕ.......................................................

$maxWidthContainer: 1710;
$gold: #dcca87;
$grey: #aaaaaa;
$white: #ffffff;
$maxWidth: 1920;
// .......................МИКСИНЫ.ШАБЛОНЫ ...............................................

//  адаптивный текст
// pcSize - макетныйразмер шрифта, mobsize - минимальный размер шрифта
@mixin adaptiv-text($pcSize, $mobSize) {
   $addSize: $pcSize - $mobSize;
   $maxWidth: $maxWidth - 320;
   font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer}));
   @media (min-width: 768px) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidthContainer}));
   }
   @media (min-width: #{$maxWidthContainer + px}) {
      font-size: #{$pcSize + px};
   }
}

//.................... ПЕРЕВОД В ДРУГИЕ ЕДИНИЦЫ ИЗМЕРЕНИЯ............................
// перевод в  %
@function prc($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
}

// перевод в  REM
@function rem($px) {
   $result: math.div($px, 16) + rem;
   @return $result;
}

// перевод в  EM
@function em($px) {
   $result: math.div($px, 16) + em;
   @return $result;
}
// ...............................ФУНКЦИЯ АДАПТИВ..............................................................
@function adaptive($minVal, $maxVal) {
   $ans: calc(#{$minVal + px} + (#{$maxVal} - #{$minVal}) * ((100vw - 320px) / (#{$maxWidthContainer} - 320)));
   @return #{$ans};
}

// ................................GENERAL..................................................
body {
   // font-family: "Cormorant Upright";
   font-family: "Open Sans";
   color: $grey;
   font-size: rem(16);
   line-height: 1.75;
   background: url(../img/decor/Vector\ 1.png) center no-repeat;
   background-size: 100%;
}

body.lock {
   @media (max-width: 767.98px) {
      overflow: hidden;
   }
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.page {
   flex: 1 1 auto;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
}
.page__wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}
.screen {
   flex: 1 0 100%;
   position: relative;
}

.header__burger {
   display: none;
   @media (max-width: 767.98px) {
      // рисуем стрелки бургера
      display: block;
      position: relative;
      z-index: 3;
      width: 30px;
      height: 20px;
      z-index: 3;
      order: 3;

      &:before,
      &:after {
         content: "";
         background-color: #ffffff;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
      &:before {
         top: 0;
      }
      &:after {
         bottom: 0;
      }
      span {
         background-color: #ffffff;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         top: 9px;
         transition: all 0.3s ease 0s;
      }
   }
}
.header__burger.open-menu:before {
   transform: rotate(45deg);
   top: 9px;
}
.header__burger.open-menu:after {
   transform: rotate(-45deg);
   bottom: 9px;
}
.header__burger.open-menu span {
   transform: scale(0);
}
.page__scroll {
   position: absolute;
   top: 0;
   right: 0;
   width: 6px;
   height: 100%;
   // background-color: #dcca8793;
}
// ползунок
.page__drag-scroll {
   position: absolute;
   top: 0;
   left: 0;
   width: 6px;
   background-color: #ceab2e;
   cursor: pointer;
}
.wrapper._free .page__pagination {
   opacity: 0;
}
.page__pagination {
   position: absolute;
   top: 50%;
   right: rem(50);
   transform: translate(0px, -50%);
   display: flex;
   flex-direction: column;
   @media (max-width: 1650px) {
      width: 100%;
      flex-direction: row;
      column-gap: rem(10);
      top: 95%;
      right: 0%;
      justify-content: center;
   }
}
.page__bullet {
   width: rem(15);
   height: rem(15);
   cursor: pointer;
   background-color: #aaaaaa;
   margin: rem(10) 0;
   border-radius: 50%;
   transition: 0.3s all ease 0s;
}
.page__bullet_active {
   background-color: $gold;
}
.title {
   font-family: "Cormorant Upright";
   font-weight: 600;
   color: $gold;
   @include adaptiv-text(64, 45);
   line-height: 1.3;
   letter-spacing: 0.04em;
   text-transform: capitalize;
}
.label {
   font-family: "Cormorant Upright";
   letter-spacing: 0.04em;
   text-transform: capitalize;
   color: $white;
   font-weight: 700;
   font-size: rem(23);
   line-height: 1.3;
   position: relative;
   &:after {
      content: "";
      background: url(../img/icons/key.svg) center no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: rem(38);
   }
}
.button {
   width: rem(221);
   height: rem(60);
   background-color: $gold;
   display: flex;
   justify-content: center;
   align-items: center;
   // padding: rem(8) rem(32);
   letter-spacing: 0.04em;
   font-size: rem(20);
   color: #0c0b08;
   font-weight: 700;
   font-family: "Cormorant Upright";
   transition: 0.3s all ease 0s;

   @media (max-width: 767.98px) {
      width: 100%;
   }
   &:hover {
      transition: 0.3s all ease 0s;
      background-color: #d1af33;
   }
}
// ..........................................HEADER........................................................

.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header__container {
   display: flex;
   min-height: rem(100);
   align-items: center;
   justify-content: space-between;
   @media (max-width: 991.98px) {
      min-height: 80px;
   }
}
.header__logo {
   font-family: "Cormorant Upright";
   font-weight: 700;
   font-size: rem(44);
   color: $white;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   line-height: 1.3;
   z-index: 3;
   @media (max-width: 767.98px) {
      font-size: rem(30);
   }
}
.header__burger {
}
.header__menu {
}
.menu-header {
   margin: 0 rem(20);
   @media (max-width: 767.98px) {
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      background: #000000;
      padding: 100px 0 0 20px;
      transition: all 0.6s ease 0s;
      overflow: auto;
      margin: 0;
   }
   &.open-menu {
      left: 0;
   }
}
.menu__list {
   display: flex;
   column-gap: rem(32);
   row-gap: rem(10);
   flex-wrap: wrap;
   @media (max-width: 767.98px) {
      flex-direction: column;
      row-gap: rem(20);
      align-items: flex-end;
      margin-right: rem(30);
   }
}

.menu__item {
}
.menu__link {
   color: $white;
   transition: 0.3s all ease 0s;
   letter-spacing: 0.04em;
   position: relative;
   &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: rem(-8);
      width: 100%;
      height: rem(4);
      background-color: $gold;
      transform-origin: center;
      transform: scale(0);
   }
   &:hover {
      color: $gold;
      transition: 0.3s all ease 0s;
   }
   &:hover::before {
      transform: scale(1);
      transition: 0.3s all ease 0s;
   }
   @media (max-width: 767.98px) {
      font-size: 20px;
      text-align: left;
   }
}

.header__tools {
   column-gap: 100px;
   font-weight: 600;
   letter-spacing: 0.05em;
   text-transform: capitalize;

   @media (max-width: 1021.98px) {
      column-gap: 50px;
   }
   @media (max-width: 767.98px) {
      order: 2;
   }
}

.header__login {
   color: $white;
   margin-right: rem(50);
   transition: 0.3s all ease 0s;
   @media (max-width: 1021.98px) {
      margin-right: rem(15);
      position: relative;
      z-index: 3;
   }
   span {
      @media (max-width: 951.98px) {
         display: none;
      }
   }

   &:hover {
      color: $gold;
      transition: 0.3s all ease 0s;
   }
}

.header__book {
   color: $white;
   position: relative;
   padding-left: rem(50);
   transition: 0.3s all ease 0s;
   @media (max-width: 1021.98px) {
      padding-left: rem(15);
   }
   span {
      @media (max-width: 831.98px) {
         display: none;
      }
   }
   @media (max-width: 417.98px) {
      display: none;
   }

   &:hover {
      color: $gold;
      transition: 0.3s all ease 0s;
   }
   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: rem(1);
      height: rem(27);
      background-color: $grey;
      // margin-left: rem(50);
   }
}

// ..............................HEADER-BLOCK........................................

.header-block {
   background: #0c0b08;
   // display: flex;
   // align-items: center;
   padding-top: rem(169);
   padding-bottom: rem(239);
   @media (max-width: 767.98px) {
      padding-top: rem(80);
      padding-bottom: rem(50);
   }
}
.header-block__container {
}
.header-block__items {
   display: flex;
   // // justify-content: space-between;
   // // column-gap: adaptive(30, 158);
   column-gap: rem(30);
   align-items: center;
   // @media (max-width: 991.98px) {
   //    flex-direction: column;
   // }
   @media (max-width: 767.98px) {
      flex-direction: column;
   }
}
.header-block__text,
.header-block__text-hid {
   display: flex;
   writing-mode: vertical-rl;
   writing-mode: vertical-rl;
   column-gap: rem(40);
   margin-right: adaptive(30, 158);
   transform: rotate(180deg);
   span {
      font-size: rem(18);
      letter-spacing: 0.04em;
      color: $white;
   }
}
.header-block__text {
   @media (max-width: 991.98px) {
      display: none;
   }
}
.header-block__text-hid {
   display: flex;
   height: rem(150);
   width: rem(20);
   column-gap: rem(40);
   align-self: center;
   transform: rotate(180deg);
   @media (min-width: 991.98px) {
      display: none;
   }
}

.header-block__body {
   margin-right: adaptive(30, 180);
   display: flex;
   @media (max-width: 767.98px) {
      margin-bottom: rem(30);
      flex: 1 1 100%;
      margin-right: 0;
   }
}
.header-block__label {
   font-family: "Cormorant Upright";
   letter-spacing: 0.04em;
   text-transform: capitalize;
   color: $white;
   font-weight: 700;
   font-size: rem(23);
   line-height: 1.3;
   position: relative;
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
   &:after {
      content: "";
      background: url(../img/icons/key.svg) left no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: rem(26);
   }
}
.header-block__title {
   font-weight: 700;
   font-family: "Cormorant Upright";
   color: $gold;
   @include adaptiv-text(90, 40);
   line-height: 1.3;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   max-width: rem(453);
   @media (max-width: 1199.98px) {
      line-height: 1;
   }
   @media (max-width: 991.98px) {
      max-width: none;
   }
   &:not(:last-child) {
      margin-bottom: rem(32);
   }
}
.header-block__subtitle {
   letter-spacing: 0.04em;
   max-width: rem(453);
   &:not(:last-child) {
      margin-bottom: rem(32);
   }
   @media (max-width: 991.98px) {
      max-width: none;
   }
}
.header-block__button {
}

.header-block__btn {
}

.header-block__image {
   // flex: 1 1 rem(667);
   width: 667px;
   // width: 100%;
   position: relative;
   padding-bottom: 40%;
   padding-left: rem(20);
   padding-right: rem(20);
   @media (max-width: 767.98px) {
      padding-bottom: 70%;
      width: 100%;
   }

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 2;
   }

   &:before {
      content: "";
      position: absolute;
      left: rem(-20);
      bottom: rem(-20);
      width: 50%;
      height: 50%;
      z-index: 1;
      background-color: $gold;
      object-fit: cover;
   }
   &:after {
      content: "";
      position: absolute;
      right: rem(-20);
      top: rem(-15);
      width: 50%;
      height: 50%;
      z-index: 1;
      background-color: $gold;
   }
}

// .........................................ABOUTS................................................................
.abouts {
   background: url(../img/abouts/bg.png);
   padding-top: rem(120);
   position: relative;
   @media (max-width: 599.98px) {
      padding-top: rem(30);
   }
}
.screen {
}
.abouts__container {
}
.abouts__items {
   background: url(../img/abouts/G.png) center no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 15;
   @media (max-width: 599.98px) {
      flex-direction: column;
      row-gap: rem(30);
   }
}
.abouts__us {
}
.us-abouts {
   max-width: rem(523);
   margin-right: adaptive(20, 74);
   @media (max-width: 599.98px) {
      margin-right: 0;
   }
}
.us-abouts__title {
   font-family: "Cormorant Upright";
   @include adaptiv-text(64, 40);
   color: $gold;
   letter-spacing: 0.03em;
   text-transform: capitalize;
   line-height: 1.29;
   font-weight: 600;
   position: relative;
   text-align: right;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 49);
   }
   &:after {
      content: "";
      background: url(../img/icons/key.svg) right no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: rem(66);
      @media (max-width: 991.98px) {
         top: rem(40);
      }
   }
}
.us-abouts__text {
   max-width: rem(523);
   letter-spacing: 0.04em;
   text-align: right;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 32);
   }
}
.us-abouts__button {
   display: flex;
   justify-content: end;
}
.us-abouts__btn {
}
.button {
}
.abouts__image {
   @media (max-width: 599.98px) {
      display: none;
   }
}
.abouts__history {
}
.history-abouts {
   max-width: rem(523);
   margin-left: adaptive(20, 96);
   @media (max-width: 599.98px) {
      margin-left: 0;
   }
}
.history-abouts__title {
   font-family: "Cormorant Upright";
   @include adaptiv-text(64, 40);
   color: $gold;
   letter-spacing: 0.03em;
   text-transform: capitalize;
   line-height: 1.29;
   font-weight: 600;
   position: relative;
   text-align: left;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 49);
   }
   &:after {
      content: "";
      background: url(../img/icons/key.svg) left no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: rem(66);
      @media (max-width: 991.98px) {
         top: rem(40);
      }
   }
}
.history-abouts__text {
   max-width: rem(523);
   letter-spacing: 0.04em;
   text-align: left;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 32);
   }
}

// ....................................TABLE.....................................................

.table {
   display: flex;
   align-items: center;
   background: #0c0b08 url(../img/decor/chas.png) right rem(100) no-repeat;
   justify-content: center;
}
.screen {
}
.table__container {
}

.table__body {
   padding: rem(48) 0;
   background: #0c0c0c;
   width: rem(1364);
   min-height: rem(466);
   background: #0c0b08;
   border: 1px solid rgba(220, 202, 135, 0.2);
   box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
   @media (max-width: 1399.98px) {
      width: rem(1050);
   }
   @media (max-width: 1099.98px) {
      width: rem(860);
   }
   @media (max-width: 875.98px) {
      min-width: rem(620);
      width: 0;
      padding: rem(20) 0;
   }
   @media (max-width: 559.98px) {
      min-width: rem(370);
   }
}
.table__header {
   margin-bottom: rem(64);
}
.table__label {
   font-family: "Cormorant Upright";
   letter-spacing: 0.04em;
   text-transform: capitalize;
   font-size: rem(23);
   line-height: 1.3;
   font-weight: 700;
   position: relative;
   text-align: center;
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
   &:after {
      content: "";
      background: url(../img/icons/key.svg) center no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: rem(36);
      @media (max-width: 991.98px) {
         top: rem(40);
      }
   }
}
.table__title {
   font-family: "Cormorant Upright";
   @include adaptiv-text(64, 40);
   color: $gold;
   letter-spacing: 0.03em;
   text-transform: capitalize;
   line-height: 1.29;
   font-weight: 600;
   position: relative;
   text-align: center;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 49);
   }
}
.table__form {
}
.form-table {
   background: #0c0c0c;
}

.form-table__body {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, 1fr);
   column-gap: rem(32);
   row-gap: rem(64);
   margin: 0 rem(32);
   @media (max-width: 875.98px) {
      row-gap: rem(20);
   }

   input {
      background-color: transparent;
      border: 1px solid #f5efdb;
      flex: 1 1 33.33%;
      color: $grey;
      padding: 0 rem(16);
      min-height: rem(60);
      width: 100%;
      &:focus {
         border: 1px solid $gold;
      }
      @media (max-width: 875.98px) {
         grid-column: 1 / 4;
      }
   }
}
.form-table__select {
   background-color: transparent;
   border: 1px solid #f5efdb;
   color: $grey;
   padding: 0 rem(16);
   min-height: rem(60);
   display: flex;
   justify-content: space-around;
   cursor: pointer;
   &:focus {
      border: 1px solid $gold;
   }
   @media (max-width: 875.98px) {
      grid-column: 1 / 4;
   }
   option {
      background-color: transparent;
   }
}

.input-data {
   cursor: pointer;
}
.input-time {
}
input[type="time" i] {
   align-items: center;
   display: inline-flex;
   font-family: monospace;
   cursor: pointer;
   overflow: hidden;
   padding: rem(20);
}
.form-table__button {
}
.button {
   grid-column: 2 / 3;
   text-align: center;
   margin: 0 auto;
   @media (max-width: 875.98px) {
      grid-column: 1 / 4;
   }
}
// ................................................... MENU........................................................
.menu {
   background: url(../img/decor/chas.png) 10% 0 no-repeat, url(../img/menu/01.png) center repeat;
   // background-size: cover;
   // background-position: center;
   display: flex;
   align-items: center;
   @media (max-width: 767.98px) {
      align-items: flex-start;
      padding-top: rem(10);
   }
}

.screen {
}
.menu__container {
   width: 1710px;
}
.menu__tabs {
   display: flex;
   justify-content: flex-start;
   // column-gap: adaptive(50, 300);
   @media (max-width: 991.98px) {
      flex-direction: column;
   }
}
.menu__tabs_navigation {
   flex: 0 1 40%;
   display: block;
   @media (max-width: 991.98px) {
      display: flex;
      column-gap: rem(20);
      justify-content: space-between;
   }
}
.menu__tabs_link {
   display: block;
   font-weight: 600;
   @include adaptiv-text(64, 16);
   letter-spacing: 0.03em;
   line-height: 1.3;
   color: $white;
   text-align: left;
   transition: 0.3s all ease 0s;
   position: relative;
   &:not(:last-child) {
      margin-bottom: adaptive(30, 64);
   }

   @media (max-width: 767.98px) {
      display: flex;
   }
   &--activee {
      text-decoration: underline;
      transition: 0.3s all ease 0s;
   }
}

.menu__tabs_body {
   flex: 1 1 60%;
}
.menu__tabs_block {
   display: none;
}
.tabs-block {
   &--activee {
      display: block;
      font-size: rem(50);
      color: $white;
   }
}
.tabs-block__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: rem(700);
}
.tabs-block__title {
   text-transform: uppercase;
   @include adaptiv-text(45, 30);
}
.tabs-block__image {
   img {
      max-width: 100%;
   }
}
// ................................................SPECIAL.......................................................................
.special {
   background: #0c0b08;

   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: adaptive(30, 152);
   // @media (max-width: 899.98px) {
   //    background: #0c0b08 url(../img/special/01.png) center no-repeat;
   // }
}
.screen {
}
.special__container {
}
.special__header {
   padding-top: adaptive(80, 82);
   margin-bottom: adaptive(20, 34);
}
.special__label {
   text-align: center;
   &:not(:last-child) {
      margin-bottom: rem(15);
   }
}

.special__title {
   text-align: center;
}

.special__items {
   display: flex;
   gap: rem(32);
   @media (max-width: 899.98px) {
      justify-content: space-between;
   }
   @media (max-width: 599.98px) {
      flex-direction: column;
   }
}
.special__wine {
   flex: 0 1 33.3333%;
   @media (max-width: 899.98px) {
      flex: 0 1 50%;
   }
}
.wine {
}
.wine-item {
}
.wine-item__title {
   font-family: "Cormorant Upright";
   color: $white;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   font-weight: 600;
   text-align: center;
   @include adaptiv-text(45, 30);
   line-height: 1.3;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 25);
   }
}
.wine-item__body,
.cocktails-item__body {
   display: flex;
   // column-gap: adaptive(30, 183);
   justify-content: space-between;
   // column-gap: rem(32);
   &:not(:last-child) {
      margin-bottom: rem(8);
      @media (max-width: 599.98px) {
         margin-bottom: rem(0);
      }
   }
}
.wine-item__name {
   font-family: "Cormorant Upright";
   color: $gold;
   font-weight: 700;
   font-size: rem(23);
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 1.3;
   position: relative;
}
.wine-item__line {
   width: rem(119);
   height: rem(1);
   background-color: $gold;
   align-self: center;
   @media (max-width: 1199.98px) {
      width: rem(60);
   }
}
.wine-item__price {
   font-weight: 700;
   font-size: rem(23);
   color: $white;
   letter-spacing: 0.04em;
   text-transform: capitalize;
}
.whine-item__subname,
.coctails-item__subname {
   font-family: "Open Sans";
   font-weight: 400;
   color: $grey;
   font-size: rem(16);
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 1.75;
   &:not(:last-child) {
      margin-bottom: adaptive(10, 30);
   }
}

.special__image {
   width: rem(412);
   // flex: 1 0 412px;
   // max-width: 412px;
   // width: 100%;
   // height: rem(659);
   padding-bottom: 38%;
   position: relative;
   @media (max-width: 899.98px) {
      display: none;
   }
   img {
      // max-width: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
.special__coctails {
   flex: 0 1 33.3333%;
   @media (max-width: 899.98px) {
      flex: 0 1 50%;
   }
}
.cocktails {
}
.cocktails-item {
}
.cocktails-item__title {
   font-family: "Cormorant Upright";
   color: $white;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   font-weight: 600;
   text-align: center;
   @include adaptiv-text(45, 30);
   line-height: 1.3;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 25);
   }
}
.cocktails-item__body {
}
.cocktails-item__name {
   font-family: "Cormorant Upright";
   color: $gold;
   font-weight: 700;
   font-size: rem(23);
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 1.3;
   position: relative;

   // &::after {
   //    content: "";
   //    width: rem(119);
   //    height: rem(1);
   //    background-color: $gold;
   //    position: absolute;
   //    left: rem(180);
   //    top: rem(17);
   //    @media (max-width: 1199.98px) {
   //       left: rem(180);
   //       width: rem(60);
   //    }
   // }
}
.cocktails-item__price {
   font-weight: 700;
   font-size: rem(23);
   color: $white;
   letter-spacing: 0.04em;
   text-transform: capitalize;
}
// .......................................................BELIEVE...................................................
.believe {
   background: url(../img/decor/chas.png) 85% 87% no-repeat, url(../img/abouts/bg.png);
   display: flex;
   align-items: center;
   padding-bottom: adaptive(30, 128);
}
.screen {
}
.believe__container {
}
.believe__items {
   padding-top: rem(128);
   display: flex;
   column-gap: adaptive(30, 80);
   @media (max-width: 767.98px) {
      padding-top: rem(40);
   }
   @media (max-width: 599.98px) {
      flex-direction: column-reverse;
      row-gap: rem(20);
   }
}
.believe__image {
   img {
      max-width: 100%;
      @media (max-width: 599.98px) {
         max-width: 70%;
      }
   }
}
.believe__info {
   align-self: center;
}
.believe__header {
   &:not(:last-child) {
      margin-bottom: adaptive(20, 64);
   }
}
.believe__label {
   &:after {
      content: "";
      background: url(../img/icons/key.svg) left no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: rem(38);
   }
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
}
.label {
}
.believe__title {
}
.title {
}
.believe__text {
   font-style: italic;
   color: $grey;
   letter-spacing: 0.04em;
   max-width: rem(570);
   &:not(:last-child) {
      margin-bottom: adaptive(20, 64);
   }
   &:before {
      content: url(../img/icons/kav.svg);
      margin-right: rem(2);
   }
}
.believe__name {
   font-family: "Cormorant Upright";
   letter-spacing: 0.04em;
   text-transform: capitalize;
   color: $gold;
   font-size: rem(32);
   line-height: 1.3;
   p {
      margin-top: rem(8);
      font-family: "Open Sans";
      font-weight: 400;
      font-size: rem(16);
      color: $grey;
      letter-spacing: 0.04em;
      line-height: 1.75;
   }

   &:not(:last-child) {
      margin-bottom: adaptive(20, 64);
   }
}
.believe__painting {
   @media (max-width: 599.98px) {
      img {
         width: 40%;
      }
   }
}
// ..................................................CUSTOMERS....................................................
.customers {
   display: flex;
   align-items: center;
   background: #0c0b08;
   padding-bottom: adaptive(30, 152);
}
.screen {
}
.customers__container {
}
.customers__header {
   @media (max-width: 991.98px) {
      padding-top: rem(100);
   }
   margin-bottom: adaptive(20, 64);
}
.customers__label {
   &::after {
      background-position: left;
   }
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
}
.label {
}
.customers__title {
}
.title {
}
.customers__items {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   // grid-template-columns: repeat(auto-fit, minmax(634px, 1fr));
   row-gap: rem(64);
   column-gap: rem(32);
   @media (max-width: 991.98px) {
      grid-template-columns: repeat(1, 1fr);
   }
}
.customers__item {
   display: flex;
   column-gap: rem(16);
   @media (max-width: 499.98px) {
      display: block;
   }
}
.item-customers {
}
.item-customers__photo {
   position: relative;
   @media (max-width: 499.98px) {
      // width: rem(206);
      width: 100%;
      padding-bottom: 98%;
      margin-bottom: rem(20);
   }
   &:after {
      content: "";
      background: url(../img/icons/kav.svg) bottom right no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: -10px;
   }
   img {
      @media (max-width: 499.98px) {
         // max-width: 100%;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
}
.item-customers__info {
   align-self: center;
}
.item-customers__text {
   max-width: rem(412);
   font-style: italic;
   color: $grey;
   letter-spacing: 0.04em;
   &:not(:last-child) {
      margin-bottom: rem(16);
   }
}
.item-customers__name {
   @include adaptiv-text(32, 24);
   letter-spacing: 0.04em;
   color: $gold;
   text-transform: capitalize;
   line-height: 1.28;
   p {
      margin-top: rem(4);
      font-family: "Open Sans";
      font-weight: 400;
      font-size: rem(16);
      letter-spacing: 0.04em;
      line-height: 1.75;
      color: #f5efdb;
   }
}
// ....................................VIDEO.........................................

.screen {
}

// ............................................LAURELS.................................................
.laurels {
   background: url(../img/abouts/bg.png);
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   @media (max-width: 991.98px) {
      padding-top: adaptive(40, 70);
      padding-bottom: rem(30);
   }
}
.screen {
}
.laurels__container {
}
.laurels__body {
   display: flex;
   justify-content: center;
   column-gap: adaptive(30, 111);
   @media (max-width: 991.98px) {
      flex-direction: column;
      row-gap: rem(20);
   }
}
.laurels__info {
   align-self: center;
}
.laurels__header {
   margin-bottom: adaptive(20, 64);
}
.laurels__label {
   &::after {
      background-position: left;
   }
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
}

.laurels__title {
}

.laurels__items {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: rem(32);
   row-gap: adaptive(20, 64);
   @media (max-width: 549.98px) {
      grid-template-columns: 1fr;
   }
}
.laurels__item {
   display: flex;
   column-gap: rem(32);
}
.laurels__icon {
}
.laurels__text {
   font-weight: 700;
   font-family: "Cormorant Upright";
   letter-spacing: 0.04em;
   text-transform: capitalize;
   color: $gold;
   font-size: rem(23);
   line-height: 1.3;
   p {
      margin-top: rem(4);
      font-family: "Open Sans";
      font-weight: 400;
      font-size: rem(16);
      letter-spacing: 0.04em;
      line-height: 1.75;
      color: #f5efdb;
      max-width: rem(190);
   }
}
.laurels__image {
   width: rem(483);
   height: 100%;
   position: relative;
   padding-bottom: 50%;
   @media (max-width: 991.98px) {
      width: 100%;
      padding-bottom: 80%;
   }
   &::after {
      content: "";
      background: url(../img/laurels/g.png) bottom no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: rem(-130);
      @media (max-width: 767.98px) {
         // width: 60%;
         // height: 60%;
         // left: 0;
         display: none;
      }
   }
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
// ...............................................BLOGS...................................................................

.blogs {
   background: #0c0b08 url(../img/decor/chas.png) 90% 95% no-repeat;
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   padding-bottom: rem(40);
}
.screen {
}
.blogs__container {
}
.blogs__header {
   text-align: center;
   padding-top: rem(65);
   margin-bottom: adaptive(20, 40);
}
.blogs__label {
   margin-bottom: rem(15);
}

.blogs__title {
   @include adaptiv-text(50, 40);
}

.blogs__items {
   display: flex;
   margin-bottom: rem(20);
   gap: rem(15);
   justify-content: center;
   flex-wrap: wrap;
}
.blogs__item {
}
.item-blogs {
   // flex: 0 1 33.33333%;
   flex: 0 1 rem(412);
   display: flex;
   flex-direction: column;
   @media (max-width: 767.98px) {
      flex: 1 1 auto;
   }
}
.item-blogs__image {
   position: relative;
   padding-bottom: 80%;
   // width: 100%;
   // width: rem(412);

   margin-bottom: rem(24);
   overflow: hidden;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: 0.3s all ease 0s;
      &:hover {
         transform: scale(1.1);
         transition: 0.3s all ease 0s;
      }
   }
}
.item-blogs__info {
   display: flex;
   justify-content: space-between;
   margin-bottom: adaptive(15, 20);
   letter-spacing: 0.04em;
   color: #fafafa;
}
.item-blogs__data {
}
.item-blogs__name {
}
.item-blogs__title {
   letter-spacing: 0.04em;
   transition: 0.3s all ease 0s;
   text-transform: capitalize;
   font-family: "Cormorant Upright";
   color: $gold;
   @include adaptiv-text(25, 20);
   line-height: 1.3;
   display: block;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 25);
   }
   &:hover {
      text-decoration: underline;
      transition: 0.3s all ease 0s;
   }
}
.item-blogs__text {
   letter-spacing: 0.04em;
   flex: 1 1 auto;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 20);
   }
}
.item-blogs__link {
   color: $gold;
   font-weight: 700;
   letter-spacing: 0.04em;
   transition: 0.3s all ease 0s;
   &:hover {
      text-decoration: underline;
      transition: 0.3s all ease 0s;
   }
}
.blogs__buttons {
}

// ................................GALLERY.....................................
.gallery {
   background: #0c0b08 url(../img/decor/chas.png) 10% 95% no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.gallery__container {
}
.gallery__items {
   display: flex;
   column-gap: adaptive(20, 64);
   @media (max-width: 991.98px) {
      flex-direction: column;
      row-gap: rem(20);
   }
}
.gallery__header {
   justify-self: flex-start;
   flex: 0 0 28%;
}
.gallery__label {
   margin-bottom: rem(25);
   &::after {
      background-position: left;
   }
}

.gallery__title {
   &:not(:last-child) {
      margin-bottom: rem(24);
   }
}

.gallery__text {
   &:not(:last-child) {
      margin-bottom: rem(24);
   }
}
.gallery__button {
   width: rem(136);
   @media (max-width: 767.98px) {
      width: 100%;
   }
}
.gallery__btn {
}

.gallery__gallery {
   display: flex;
   // flex-wrap: wrap;
   column-gap: adaptive(10, 32);
   overflow: hidden;
   @media (max-width: 767.98px) {
      flex-direction: column;
      row-gap: rem(10);
   }
   a {
      @media (max-width: 767.98px) {
         display: inline-block;
         position: relative;
         padding-bottom: 67%;
         width: 100%;
      }
   }
   img {
      max-width: 100%;
      transition: 0.3s all ease 0s;
      @media (max-width: 767.98px) {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
      &:hover {
         transform: scale(1.1);
         transition: 0.3s all ease 0s;
      }
   }
}
// .................................subscribe................................................
.subscribe {
   background: #0c0b08;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.screen {
}
.subscribe__container {
}
.subscribe__body {
   padding: rem(48) 0;
   background: #0c0c0c;

   width: rem(1364);

   // min-height: rem(466);
   background: #0c0b08;
   border: 1px solid rgba(220, 202, 135, 0.2);
   box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
   @media (max-width: 1399.98px) {
      width: rem(1050);
   }
   @media (max-width: 1099.98px) {
      width: rem(800);
   }
   @media (max-width: 829.98px) {
      // min-width: rem(400);
      width: 100%;
      padding: rem(20) 0;
      // width: 0;
   }
}
.subscribe__header {
   text-align: center;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 64);
   }
   @media (max-width: 829.98px) {
      margin: 0 rem(10);
   }
}
.subscribe__label {
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
}
.subscribe__title {
   @include adaptiv-text(64, 35);
   &:not(:last-child) {
      margin-bottom: rem(25);
   }
}
.subscribe__text {
   letter-spacing: 0.04em;
   color: $white;
   line-height: 1.75;
}
.subscribe__form {
   // display: flex;
   // justify-content: center;
   // margin: 0 auto;
   display: grid;
   grid-template-columns: rem(635) rem(129);
   gap: rem(32);
   justify-content: center;
   @media (max-width: 1099.98px) {
      grid-template-columns: rem(400) rem(129);
      gap: rem(10);
   }
   @media (max-width: 829.98px) {
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
      margin: 0 rem(10);
   }
}
.form-subscribe {
}
.form-subscribe__input {
   background-color: transparent;
   border: 1px solid #f5efdb;
   padding-left: rem(20);
   color: $grey;
   font-weight: 600;
   &:focus {
      border: 1px solid $gold;
   }
   @media (max-width: 829.98px) {
      width: 100%;
      padding: rem(16) 0 rem(16) rem(20);
   }
}
.subscribe__btn {
   @media (max-width: 829.98px) {
      width: 100%;
   }
}
.button {
}

// .........................FOOTER..........................
.footer {
   background: url(../img/abouts/bg.png);
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.screen {
}
.footer__top {
   flex: 1 1 auto;
   padding-top: rem(200);
   @media (max-width: 767.98px) {
      padding-top: rem(50);
   }
}
.footer-top {
   margin-bottom: adaptive(30, 64);
}
.footer-top__container {
}
.footer-top__items {
   display: flex;
   justify-content: space-between;
   gap: rem(20);
   @media (max-width: 767.98px) {
      flex-direction: column;
      row-gap: rem(30);
   }
}
.footer-top__contacts {
}
.contacts-footer {
   text-align: center;
   flex: 0 1 33.333%;
   @media (max-width: 767.98px) {
      flex: 1 1 100%;
      order: 2;
   }
}
.contacts-footer__title {
   font-family: "Cormorant Upright";
   color: #f5efdb;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 1.3;
   @include adaptiv-text(32, 25);
   text-align: center;
   &:not(:last-child) {
      margin-bottom: rem(24);
      @media (max-width: 767.98px) {
         margin-bottom: rem(15);
      }
   }
}
.contacts-footer__location {
   color: $grey;
   letter-spacing: 0.04em;
   display: block;

   &:not(:last-child) {
      margin-bottom: rem(8);
   }
   transition: 0.3s all ease 0s;
   &:hover {
      color: $gold;
      transition: 0.3s all ease 0s;
   }
}
.contacts-footer__tel {
   display: block;
   color: $grey;
   letter-spacing: 0.04em;
   transition: 0.3s all ease 0s;
   &:hover {
      color: $gold;
      transition: 0.3s all ease 0s;
   }
}
.footer-top__gericht {
}
.gericht-footer {
   flex: 0 1 33.333%;
   position: relative;
   bottom: rem(50);
   @media (max-width: 767.98px) {
      flex: 1 1 100%;
      order: 1;
      bottom: 0;
   }
}
.gericht-footer__logo {
   font-family: "Cormorant Upright";
   font-weight: 700;
   @include adaptiv-text(64, 30);
   color: $gold;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   line-height: 1.3;
   text-align: center;
   &:not(:last-child) {
      margin-bottom: adaptive(20, 32);
   }
}
.gericht-footer__text {
   letter-spacing: 0.04em;
   color: $white;
   max-width: rem(438);
   margin: 0 auto;
   text-align: center;
   position: relative;
   &:not(:last-child) {
      margin-bottom: rem(41);
   }
   &:after {
      content: "";
      background: url(../img/icons/key.svg) center no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: rem(38);
   }
}
.gericht-footer__social {
   display: flex;
   column-gap: rem(23);
   justify-content: center;
   img {
      transition: 0.3s all ease 0s;
      &:hover {
         transform: scale(1.2);
         transition: 0.3s all ease 0s;
      }
   }
}
.footer-top__hours {
   flex: 0 1 33.333%;
   @media (max-width: 767.98px) {
      flex: 1 1 100%;
      order: 3;
   }
}
.hours-footer__title {
   font-family: "Cormorant Upright";
   color: #f5efdb;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 1.3;
   @include adaptiv-text(32, 25);
   text-align: center;
   &:not(:last-child) {
      margin-bottom: rem(24);
      @media (max-width: 767.98px) {
         margin-bottom: rem(15);
      }
   }
}
.hours-footer__days {
   p {
      max-width: rem(158);
      text-align: center;
      margin: 0 auto;
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
}
// ................................FOOTER-BOTTOM..........................................
.footer__bottom {
   padding-bottom: adaptive(30, 144);
}
.footer__bottom__container {
}
.footer__bottom__text {
   text-align: center;
}
